body {
  font-family: "Indie Flower", cursive;
  font-family: "Kaushan Script", cursive;
}

.game {
  width: 700px;
  height: 500px;
  background-color: #28c466;

  display: grid;
  grid-template-rows: 0.8fr 12fr 2fr;
}

.time {
  text-align: center;
  margin-top: 5px;
}

.playground {
  background-color: #22a356;
}

.frogs {
  position: relative;
}

.looseMessage {
  display: none;
  margin-left: 225px;
  margin-top: 175px;
  color: #b13122;
  font-size: 20px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.frogsLeft {
  text-align: center;
  margin-top: 25px;
}

.start,
.afterStart {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #2c8bd5;
  border: 3px solid #2472ae;
}

.afterStart {
  display: none;
}

.level {
  text-align: center;
  margin-top: 25px;
}

.show {
  display: grid;
}

.hide {
  display: none;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}
